// pur-system/src/app/pages/auth/login-page/login-page.scss

.pur-page {
  max-width: 544px;
  margin: 0 auto;
}

.login-page__development-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 4px;
}
