// pur-system/src/app/pages/systemverwaltung-page/benutzer-page/benutzer-anlage/benutzer-anlage.scss

.zugangsdaten {
  container-type: inline-size;
  container-name: zugangsdaten;

  > .pur-form--grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @container zugangsdaten (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
}
