// pur-system/src/assets/scss/modules/_dialog.scss

.pur-dialog {
  &__panel {
    box-sizing: border-box;
    width: calc(100vw - 32px);
    max-width: min(448px, calc(100vw - 32px)) !important;

    &--large {
      max-width: min(768px, calc(100vw - 32px)) !important;
    }
  }

  &__content.mat-mdc-dialog-content {
    overflow-x: hidden;
  }
}
