// pur-system/src/app/pages/systemverwaltung-page/datenstruktur-page/datenstruktur-page.scss

.datenstruktur-page__auswahl {
  container-type: inline-size;

  > .pur-form__item--button {
    inline-size: 210px;
    max-inline-size: 100%;
  }

  @container (max-width: 500px) {
    > .pur-form__item--button {
      inline-size: 100%;
    }
  }
}

.pur-page-section__summary > div {
  grid-template-columns: minmax(96px, 1fr) minmax(0, 9fr);
}
